.converter {
  width: 700px;
  height: 80vh;
  padding: 100px 50px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  &__topRow{
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__column{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  &__switch{
    height: 50px;
    width: 50px;
    background: url('../../assets/logo/arrows.svg') center / 30% no-repeat;
    border: 1px solid rgb(77, 73, 73);
    border-radius:  50%;
    cursor: pointer;
  }
  &__text{
    margin: 0;
  }
}

.InputConverter{
  height: 35px;
  max-width: 250px;
  display: flex;
  border: none;
  border-radius: 5px;
}