.converter {
  width: 700px;
  height: 80vh;
  padding: 100px 50px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InputConverter{
  max-width: 250px;
  display: flex;
}